doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title AdsAdsAds!
    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet')
    //link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container-fluid
      .row
        .col-xs-8
          h1 This site gets tons of views
          h3 But I need ads to support myself!
          hr
          h3 ppp
        .col-xs-4
          br
          p Welcome to my awesome blog! I spend a ton of time creating useful content, but I need to support myself. If only there were a way to do this without annoying my users...

    script(src='/vendor/jquery/dist/jquery.min.js')
    //script(src='/js/vendor/async.js')
    //script(src='/js/vendor/underscore-min.js')
    //script(src='/js/vendor/underscore-contrib.min.js')
    //script(src='/bootstrap/js/bootstrap.min.js')
