doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title AdsAdsAds!
    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style.css')
  body
    script.
      var _AdsNativeOpts = {
        blockAdLoad: true
      };
    .container-fluid
      .row#header
        h2.strong.text-center Welcome to my travel blog!
        h2.small.text-center If only I could monetize without annoying my loyal users...
      .row
        .col-xs-8
          h1 Newest post
          p Beard Etsy Vice drinking vinegar hashtag, pour-over narwhal flannel artisan hoodie normcore wayfarers. Whatever lomo sustainable jean shorts wolf, street art farm-to-table lumbersexual. Thundercats direct trade health goth Pinterest, before they sold out Banksy semiotics. Farm-to-table pickled art party, gastropub organic Marfa forage 3 wolf moon banh mi messenger bag street art mustache trust fund Truffaut roof party. Four loko master cleanse VHS brunch biodiesel, XOXO sriracha. Etsy quinoa messenger bag XOXO beard deep v mumblecore cronut. Bushwick beard before they sold out, wolf deep v small batch Etsy 90's
          p Health goth heirloom literally, Echo Park fingerstache bespoke Neutra meh McSweeney's biodiesel cliche. Leggings raw denim Godard jean shorts ugh. Biodiesel Pinterest lomo brunch seitan. Fixie 3 wolf moon umami Marfa blog cornhole. Shabby chic meh quinoa, Pitchfork Shoreditch hoodie Bushwick High Life PBR&B Echo Park church-key beard wolf meditation. Polaroid mustache lomo asymmetrical cornhole next level. Salvia photo booth direct trade forage roof party cray.
          p Fashion axe yr Etsy Kickstarter, Williamsburg tofu Portland heirloom. Literally PBR&B 90's cray, Echo Park Marfa Williamsburg keytar direct trade put a bird on it yr twee. Locavore sriracha street art, fashion axe distillery selfies pour-over tousled PBR&B chambray cornhole. Tote bag flannel brunch, YOLO hashtag fashion axe Shoreditch kale chips. Selfies lumbersexual seitan, crucifix farm-to-table fap wolf. Messenger bag kogi cold-pressed, locavore craft beer cardigan lo-fi next level ethical try-hard fanny pack tilde. Bushwick jean shorts chambray, YOLO semiotics mumblecore lo-fi actually migas trust fund art party chillwave scenester.
        .col-xs-4
          br
          h2 Older posts
          .oldPost
            a(href='/')
              h4.strong Thailand
            img(src='assets/small/beach.png')
            p Here's a post about that time I went to thailand.
          .oldPost
            a(href='/')
              h4.strong Chicago
            img(src='assets/small/fall.png')
            p Here's a post about that time I went to Chicago.
          .oldPost
            a(href='/')
              h4.strong Portland
            img(src='assets/small/bridge.png')
            p Here's a post about that time I went to Portland.
          div.an-container#adgoeshere

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='//static.adsnative.com/static/js/render.v1.js')
    script(src='/js/ads.js')

